{% extends "main.html" %}

{% block content %}
{% load static %}
<style>
  .side-navbar {
  width: 270px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color:#ffa500;
  transition: 0.5s;
  border-color: yellow;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}.my-container {
  transition: 0.4s;
}
.active-nav {
  margin-left: -200px;
}
/* for main section */
.active-cont {
  margin-left: 180px;
}
#menu-btn {
  background-color: ;
  color: white;
  margin-left: -62px;
}
.mx-2{
  font-size: 20px;
  color: white;
}
.navbar-light{
  margin-left: 80px;
  height: 70px;
  width: 1400px;
}
.nav-link{
  position: left;
}
</style>
<body>
  {% for Student in Details %}
  <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
  <ul class="nav flex-column text-white w-100">
    <a href="#" class="nav-link h3 text-white my-2">
      ADMINSTRATION
    </a>
    <a href="/Homepage/Welcome/same/" class="nav-link">
      <span class="mx-2"><b>HOME</b></span>
    </a>
    <a href="/Faculty/AddStudent/Details/Register/NewStudent/" class="nav-link">
      <span class="mx-2"><b>ADD STUDENT</b></span>
    </a>
    <a href="/" class="nav-link">
      <span class="mx-2"><b>LOGOUT</b></span>
    </a>
  </ul>
</div>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/Faculty/Edit/{{Student.Year_Of_Admission}}/{{Student.Group}}/{{Student.Roll_Number}}/" style="color: #ffa500;margin-left: 800px; font-size: 20px;"><b>EDIT STUDENT</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Faculty/Delete/{{Student.Year_Of_Admission}}/{{Student.Group}}/{{Student.Roll_Number}}/" style="color: #ffa500;font-size: 20px;"><b>DELETE STUDENT</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/Faculty/Certificates/{{Student.Year_Of_Admission}}/{{Student.Group}}/{{Student.Roll_Number}}/" style="color: #ffa500;font-size: 20px;"><b>STUDENT DOCUMENTS</b></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="p-1 my-container active-cont">
  <br>
 <!-- <a href= "/"><img src="{% static '/Image/Logouticon.jfif' %}" style="width:40px;height:40px; margin-left: 100%"></a><br>
  <a href="javascript:history.go(-1)"><img src="{% static '/Image/Backicon.png' %}" style="width:40px;height:40px;margin-top: -70px"></a><br>-->
  <h3>STUDY OF CONDUCT</h3>
      <center><img src="{{Student.Study_Of_Conduct.url}}" height="1000"></center>
  <b><hr></b>
  <br>
  <h3>TRANSFER CERTIFICATE</h3>
      <center><img src="{{Student.Transfer_Certificate.url}}" height="1000"></center>
  <b><hr></b>
  <br>
  <h3>TENTH MARKS MEMO</h3>
      <center><img src="{{Student.Tenth_Marks_Long_Memo.url}}" height="1000"></center>
  <b><hr></b>
  <br>
  <h3>INTERMEDIATE MARKS MEMO</h3>
      <center><img src="{{Student.Intermediate_Marks_Short_Memo.url}}" height="1000"></center>
    {% endfor %}
  </div>
{% endblock %}
<a class="btn border-0" id="menu-btn">
    <i class="bx bx-menu"></i>
  </a>
</div>
</body>