{% extends "main.html" %}

{% block content %}
{% load static %}
<style>
.vl {
  border-left: 10px solid #00868B;;
  height: 500px;
  margin-left: -20px;
}
.card{
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	border-color: #99c2ff;
}
        .side-navbar {
  width: 270px;
  height: 100%;
  position: fixed;
  margin-left: -200px;
  background-color:#4863A0;
  transition: 0.5s;
  border-color: yellow;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}.my-container {
  transition: 0.4s;
}
.active-nav {
  margin-left: -209px;
}
/* for main section */
.active-cont {
  margin-left: 180px;
}
#menu-btn {
  background-color: ;
  color: white;
  margin-left: -62px;
}
.mx-2{
  font-size: 20px;
  color: white;
}
    </style>
<body>
<!--<a href= "/"><img src="{% static '/Image/Logouticon.jfif' %}" style="width:40px;height:40px; margin-left: 100%"></a><br>
  <a href="javascript:history.go(-1)"><img src="{% static '/Image/Backicon.png' %}" style="width:40px;height:40px;margin-top: -70px"></a><br>-->
  <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
  <ul class="nav flex-column text-white w-100">
    <a href="#" class="nav-link h3 text-white my-2">
      TEACHER
    </a>
    <a href="/Teacher/Welcome/same/{{Id}}/" class="nav-link">
      <span class="mx-2"><b>HOME</b></span>
    </a>
    <a href="/Teacher/Attendance/{{Id}}/{{Year}}/{{Group}}/{{Semester}}/{{Course}}/" class="nav-link">
      <span class="mx-2"><b>ATTENDANCE</b></span>
  </a>
  <a href="/Teacher/Marks/{{Id}}/{{Year}}/{{Group}}/{{Semester}}/{{Course}}/" class="nav-link">
      <span class="mx-2"><b>MARKS</b></span>
  </a>
    <a href="/" class="nav-link">
      <span class="mx-2"><b>LOGOUT</b></span>
    </a>
  </ul>
</div>
<div class="p-1 my-container active-cont">
<div class="container">
	<!--<a href="/Teacher/Attendance/{{Id}}/{{Year}}/{{Group}}/{{Semester}}/{{Course}}/" class='btn btn-primary'>Attendance</a>
	<a href="/Teacher/Marks/{{Id}}/{{Year}}/{{Group}}/{{Semester}}/{{Course}}/" class='btn btn-primary' style="width:100px">Marks</a>-->
	<br><br>
	<center><h1 style="margin-left: 800px;">TOTAL STUDENTS LIST</h1></center>
      <div class="card" style="width: 30rem;background: #C2FDFE; margin-left: 800px;">
			</div><br>
	<div class="vl"></div>
	<div class="row" style="margin-top: -500px">
	    <div class="col">
	    <div class="row row-cols-5">
		{% for student in class_student %}<br>
		<div class="card" style="width: 14rem; height: 8rem;">
			<div class="card-body">
			 <h5 class="card-title" style="color: #00868B;">{{student.Roll_Number}}</h5>
			 <p class="card-text">{{student.Last_Name}}&nbsp;{{student.First_Name}}</p>
			  </div>
			</div>
		{% endfor %}
	</div>
    </div>
    
</div>
</div>
<a class="btn border-0" id="menu-btn">
    <i class="bx bx-menu"></i>
  </a>
</div>
</body>  
{% endblock %}